h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h1 {
  font-size: 5.6rem;
  line-height: 6rem;
}

h2 {
  font-size: 4.8rem;
  line-height: 6rem;
}

h3 {
  font-size: 4rem;
  line-height: 4.8rem;
}

h4 {
  font-size: 3.2rem;
  line-height: 4.4rem;
}

h5 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h6 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
}

p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}

a {
  color: var(--blue-primary);
}

.text-body {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.text-menu {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.btn-mobile {
  font-size: 1.6rem;
  line-height: normal;
  padding: 1.5rem 2.9rem;
  background-color: var(--blue-primary);
  color: var(--light-gray-complementary);
  border-radius: 0.8rem;
  display: inline-block;
  transition: all 0.3s;
}

.btn-small {
  font-size: 1.6rem;
  line-height: normal;
  padding: 1.5rem 2.9rem;
  background-color: var(--blue-primary);
  color: var(--light-gray-complementary);
  border-radius: 0.8rem;
  display: inline-block;
  transition: all 0.3s;
}

.btn-small:hover,
.btn-mobile:hover {
  background-color: var(--blue-primary-light);
}

.btn-small-ghost {
  font-size: 1.6rem;
  line-height: normal;
  padding: 1.5rem 2.9rem;
  background-color: transparent;
  color: var(--blue-primary);
  border: 1px solid var(--blue-primary);
  border-radius: 0.8rem;
  display: inline-block;
  transition: all 0.3s;
}

.btn-small-ghost:hover {
  border: 1px solid var(--blue-primary-light);
  color: var(--blue-primary-light);
}
