:root {
  --blue-primary: #3d6bf5;
  --red-complementary: #ed5158;
  --greeb-complementary: #00d764;
  --dark-orange-primary: #ffa561;
  --blue-primary-light: #6a8bf0;

  --light-gray-complementary: #f3f4f8;
  --text: #b1b1b5;

  --dark: #1f1d2b;
  --dark-2: #252836;
  --dark-3: #2f3142;

  --white: #ffffff;
}
